.searchForm {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.resultsHeader {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  justify-content: space-evenly;
}

button:hover {
  cursor: pointer;
}
